<h1>Books in Collection</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>ISBN</th>
      <th>description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.name %></td>
      <td><%= book.isbn %></td>
      <td><%= book.description %></td>
      <td> <a href="/books/<%= book.id %>/edit">edit</a></td>
      <td> <%= link_to("delete", "/books/#{book.id}", method: :delete) %></td>
      <td> <%= link_to("reserve", "/reservations/#{book.id}/new") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
