<%= form_tag "/books" do %>
  <label for="">Title</label>
  <%= text_field_tag("book[name]") %>

  <label for="">ISBN</label>
  <%= text_field_tag("book[isbn]") %>

  <label for="">Description</label>
  <%= text_area_tag("book[description]") %>
  
  <%= submit_tag %>
<% end %>
